.header, .header > div, .header-link-item[title="Login"],
.selectize-dropdown-content > .header-dropdown {
	align-items: center;
	flex-direction: row;
	-ms-flex-direction: row;
	-webkit-flex-direction: row;
	flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	-webkit-flex-wrap: nowrap;
	display: flex;
	display: -ms-flexbox;
	display: -webkit-flex;
}

.header {
	background-color: #ffffff;
	padding: 20px 15px;
	z-index: 32;
}

.header-logo, .header-items {
	align-self: stretch;
}

.header-logo, .header-items, .header-nav {
	margin-right: 20px;
}

.header-logo img {
	max-height: 30px;
}

.header-search label {
    display: none;
}

.header-search, .header-nav-item {
	margin-right: 20px;
}

.header-nav-item:last-child {
	margin-right: 0;
}

.header-nav-item {
    color: #bababa;
}

.header-search .selectize-input {
	height: 34px;
}

.selectize-dropdown-content > .header-dropdown .text {
	margin: 0 12px;
	flex-grow: 1;
	-ms-flex-grow: 1;
	-webkit-flex-grow: 1;
	min-width: 0;
}

.selectize-dropdown-content > .header-dropdown .info {
	font-size: 12px;
}

.selectize-dropdown-content > .header-dropdown code {
	background-color: transparent;
	margin-left: 6px;
	font-size: 12px;
	color: #cd3a56;
}

.selectize-dropdown-content > .header-dropdown .label, .header-search .selectize-input > div .label {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	width: 100%;
}

.header-search .selectize-input > div .label {
	width: 290px;
}

.header-search .selectize-input i, .header-search .selectize-input .btn, .header-search .selectize-input code, .header-search .selectize-input .info {
	display: none;
}

.selectize-dropdown-content > .header-dropdown .btn {
	background-color: #f1f3f4;
	white-space: nowrap;
	padding: 3px 12px;
	min-width: 80px;
	font-size: 12px;
	color: #333333;
	opacity: 0;
}

.header-search .shiny-input-container:not(.shiny-input-container-inline) {
    width: 350px;
}

.selectize-dropdown-content .header-dropdown.active > .btn, .selectize-dropdown-content .header-dropdown.import > .btn {
	opacity: 1;
}

.header-search .nicescroll-cursors {
	border: 2px solid #ffffff;
}

.header-items {
	flex-grow: 1;
	-ms-flex-grow: 1;
	-webkit-flex-grow: 1;
}

.header-nav-item, .header-link-item, .header-switch {
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
}

.header-nav-item, .header-link-item {
	white-space: nowrap;
	font-weight: 400;
}

.header-nav-item:hover, .header-nav-item:focus {
	text-decoration: none;
	color: inherit;
}

.header-nav-item.active {
	color: #333333;
}

.header-link-item {
	margin-left: 10px;
	color: #bababa;
}

.header-link-item i {
	font-size: 20px;
}

.header-link-item:hover, .header-link-item:focus, .header-switch:hover {
	text-decoration: none;
	color: #4e2880;
}

.header-switch {
	font-family: "Font Awesome 5 Pro";
	display: inline-block;
	font-weight: 400;
	cursor: pointer;
	color: #bababa;
}

.header-switch:before {
	content: "\f5ff";
}

.header-switch.highlight:before {
	content: "\f5fe";
}

.header-link-item[title="Login"] > div {
	float: left;
}

.header-link-item[title="Login"] > div:first-child {
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	background-color: #df7f91;
	margin-bottom: 1px;
	text-align: center;
	border-radius: 50%;
	line-height: 20px;
	cursor: pointer;
	font-size: 12px;
	height: 20px;
	width: 20px;
	color: #fff;
}

.header-link-item[title="Login"] > div:first-child:hover {
	background-color: #cd3a56;
}

.header-link-item[title="Login"] > div:last-child {
	display: none;
	width: 300px;
}

.header-link-item[title="Login"] > div:first-child i {
	line-height: 20px;
	font-size: 12px;
}

.header-link-item[title="Login"] label {
	position: absolute;
	margin: 5px 0 0 10px;
	font-size: 14px;
	color: #dddddd;
}

.header-link-item[title="Login"] label > i,
#header-response i {
	font-size: 12px;
}

.header-link-item[title="Login"] .shiny-input-container {
	margin-left: 10px;
	float: left;
}

.header-link-item[title="Login"] .shiny-input-container {
	width: calc(50% - 25px);
	margin-bottom: 0;
}

.header-link-item[title="Login"] input[type="text"], 
.header-link-item[title="Login"] input[type="password"] {
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	background-color: #ffffff;
	border-color: #dddddd;
    padding-left: 30px;
    border-radius: 4px;
    box-shadow: none;
    font-size: 14px;
    color: #404040;
    height: 33px;
    outline: 0;
}

#header-login input[type="text"]:focus, 
#header-login input[type="password"]:focus {
    border-color: #cd3a56;
}

#header-response {
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	margin: 5px 10px 0 10px;
	display: inline-block;
	color: #dddddd;
}

#header-response .fa-check-circle {
	color: #009933;
}
